1. Определение проблемы и путей её решения

1.1 Проблема:
1.1.1 Отсутствие доступной для простого человека, удобной для анализа информации о состоянии рынка ценных бумаг(Ц.Б.) РБ в целом и параметров отдельных выпусков Ц.Б. в частности.
1.1.2 Сложность процесса регистрации счёта «депо», заключения договора с профучастником торгов, выдачи поручений на покупку или продажу. Следовательно, низкий спрос со стороны населения на ценные бумаги белорусских эмитентов.
1.1.3 Низкая ликвидность рынка ценных бумаг РБ, как следствие низкого спроса со стороны населения.

1.2 Решение:
1.2.1 Создание веб-сервиса, предоставляющего возможность анализировать данные по рынку, эмитентам и параметрам ценных бумаг в виде графиков и таблиц.
1.2.2 Автоматизировать и максимально облегчить для пользователя процесс покупки ценных бумаг, а именно:
1.2.2.1 Заключение договора с депозитариями на открытие счета «депо»
1.2.2.2 Регистрация поручений на выполнение операций по счету «депо»
1.2.2.3 Заключение договора комиссии на покупку или продажу ценных бумаг с профучастниками торгов 
1.2.2.4 Публикация предложений о покупке/продаже ценных бумаг в случае необходимости
1.2.2.5 Перечисление денежных средств депозитарию на покупку ценных бумаг, возврат средств депоненту в случае необходимости, передача депоненту доходов по ценным бумагам
1.2.2.6 Получение отчетов об исполнении договоров комиссии
1.2.3 Повышение ликвидности рынка ценных бумаг РБ как следствие повышения спроса со стороны населения.


2 Описание взаимодействия пользователя с сервисом:

2.1 Заключение договора с депозитарием на открытие счёта депо
2.1.2 Выбор одного из существующих в РБ депозитариев
2.1.3 Демонстрация условий договора и регламента выбранного депозитария
2.1.4 Получение согласия пользователя на заключение договора на определенных условиях
2.1.5 Предоставление пользователем паспортных данных и заполнение анкеты если требуется
2.1.6 Формирование заявления на открытие счета депо
2.1.7 Передача заявления на открытие счета депо и плату за данную услугу депозитарию
2.1.8 Получение от депозитария подтверждения открытия счета «депо» 
2.1.9 Передача пользователю подтверждения от депозитария

2.2 Заключение договора на обслуживание с профучастником торгов (брокером)
2.2.1 Демонстрация списка брокеров
2.2.2 Демонстрация публичной оферты и тарифов выбранного брокера
2.2.3 Получение от пользователя акцепта публичной оферты
2.2.4 Предоставление пользователем личных данных и анкеты если требуется
2.2.5 Передача брокеру информации о желании пользователя акцептировать оферту
2.2.6 Передача брокеру оплаты за услугу
2.2.7 Получение от брокера подтверждения
2.2.8 Передача пользователю подтверждения брокера

2.3 Ознакомление пользователя с параметрами Ц.Б., находящихся в обороте на бирже.
2.3.1 Табличный способ представления с возможностью детальной сортировки по отдельным столбцам, удалению и добавлению отдельных столбцов
2.3.2 В виде графиков, на которых отображается динамика различных параметров ЦБ, пользователь может детально настраивать график, делать выборку по отдельным выпускам, по отдельным параметрам ЦБ.

2.4 Подача пользователем поручения брокеру на покупку или продажу определенного вида ЦБ
2.4.1 Выбор интересующей пользователя ЦБ
2.4.2 Определение максимальной цены покупки, которую пользователь готов заплатить и желаемое количество ЦБ, срока существования и других параметров заявки
2.4.3 Передача брокеру сведений о желании пользователя
2.4.4 Передача брокеру платы за услугу
2.4.5 Получение от брокера подтверждения приёма поручения
2.4.6 Передача пользователю подтверждения брокера

2.5 Информирование пользователя о появлении встречной заявки от другого пользователя, удовлетворяющей заданным критериям.
2.5.1 Информирование через личное сообщение в рамках сервиса
2.5.2 Информирование по e-mail
2.5.3 Информирование по SMS
2.5.4 Информирование телефонным звонком (?)

2.6 Совершение сделки в автоматическом режиме, если это требовалось
2.6.1 Мониторинг предложений на рынке
2.6.2 Сопоставление условий предложений
2.6.3 Связь брокера одного пользователя с брокером другого пользователя
2.6.4 Получения подтверждения сделки
2.6.5 Перечисление средств на покупку, либо выдача поручений депозитарию на передачу имущественных прав
2.6.6 Информирование пользователя об исполнении обязательств

2.7 Регистрация поручений на исполнение операций по счету «депо»
2.7.1 Передача требований депозитарию
2.7.2 Передача средств на оплату данной услуги
2.7.3 Получение от депозитария положительного ответа
2.7.4 Информирование пользователя о положительном результате операции

3 Типовые страницы, используемые для предоставления информации пользователю

3.1 Регистрация - выбор одного из существующих депозитариев. Содержание страницы:
3.1.1 Список депозитариев. Содержание отдельного элемента списка:
3.1.1.1 Название депозитария
3.1.1.2 Список услуг депозитария. Содержание отдельного элемента списка:
3.1.1.2.1 Название услуги
3.1.1.2.2 Описание услуги
3.1.1.2.3 Стоимость услуги
3.1.1.3 Дополнительная информация о депозитарии и его основных условиях
3.1.1.4 Порядок действий для открытия счета "депо" в выбранном депозитарии
3.1.1.5 Кнопка выбора данного депозитария
3.1.2 Кнопка, приглашающая перейти на страницу заключения договора с депозитарием
3.1.3 Кнопка, приглашающая перейти на страницу авторизации с выбранным депозитарием (для пользователей, имеющих действующий счет "депо" в офлайне)

3.2 Страница заключения договора с отдельным депозитарием. Содержание страницы:
3.2.1 Выбранный депозитарий - элемент из списка депозитариев (см 3.1.1)
3.2.2 Текст договора/регламента/таблица тарифов
3.2.3 Кнопка соглашения с условиями договора
3.2.4 Форма ввода паспортных данных пользователя. Содержание формы:
3.2.4.1 Имя как в паспорте
3.2.4.2 Фамилия как в паспорте
3.2.4.3 Отчество как в паспорте
3.2.4.4 Дата рождения
3.2.4.5 Серия и номер паспорта
3.2.4.6 Личный идентификационный номер
3.2.4.7 Кем выдан паспорт
3.2.4.8 Дата выдачи паспорта
3.2.4.9 Фотография паспорта (опционально) (через смартфон)
3.2.5 Форма ввода дополнительных данных для анкеты (опционально)
3.2.5.1 Место жительства или постоянного пребывания
3.2.5.2 Контактный телефон
3.2.5.3 Контактный e-mail
3.2.5.4. Другие поля...
3.2.6 Фотография карточки с подписью (опционально) (через смартфон)
3.2.7 Чекбокс "я подтверждаю достоверность введенных данных"
3.2.8 Образец заявления, которое будет отправленно депозитарию, сформированный на основе введённых данных
3.2.9 Переход на фрейм оплаты (опционально)
3.2.10 Кнопка завершения процедуры открытия счета "депо"

3.3 Страница информирования о результатах заключения договора с отдельным депозитарием. Содержание страницы:
3.3.1 Элемент из списка депозитариев (см 3.1.1)
3.3.2 Сообщение об успешном открытии (сообщение о неудаче)
3.3.3 Сообщение с указанием реквизитов открытого счета "депо" (сообщение о проблеме и варианты её решения)
3.3.4 Кнопка, приглашающая перейти на страницу заключения договора с отдельным профучастником торгов (брокером)

3.4 Страница заключения договора на обслуживание с отдельным профучастником торгов (брокером). Содержание страницы:
3.4.1 Список брокеров. Содержание отдельного элемента списка:
3.4.1.1 Название брокера
3.4.1.2 Список услуг брокера. Содержание отдельного элемента списка:
3.4.1.2.1 Название услуги
3.4.1.2.2 Описание услуги
3.4.1.2.3 Стоимость услуги
3.4.1.3 Дополнительная информация о брокере и основных его условиях
3.4.1.4 Порядок действий для заключения договора обслуживания с данным брокером
3.4.1.5 Кнопка выбора данного брокера
3.4.2 Кнопка, предлагающая перейти на страницу заключения договора с выбранным брокером
3.4.3 Кнопка, преглашающая перейти на страницу авторизации с выбранным брокером (для пользователей, ранее в офлайне заключивших договор с выбранным брокером)

3.5 Страница заключения договора на обслуживание у выбранного брокера. Содержание страницы:
3.5.1 Выбранный брокер - элемент из списка брокеров (см 3.4.1)
3.5.2 Текст договора (оферты), регламент, таблица тарифов
3.5.3 Форма ввода паспортных данных (см 3.2.4) (заполняется автоматически из БД)
3.5.3 Форма ввода дополнительных данных, требуемых брокером
3.5.3.1 Банковские реквизиты для перечисления дохода по операциям
3.5.3.2 Реквизиты депозитария (заполняется автоматически)
3.5.3.3 Иные поля, для ввода данных, требуемых брокером
3.5.3.4 Чекбокс для подтверждения правильности введённых данных
3.5.4 Показ заявления (договора), сформированного на основе введённых пользователем данных
3.5.5 Переход на фрейм оплаты (опционально)
3.5.6 Кнопка заключения договора на выбранных условиях

3.6 Страница информирования о результатах заключения договора с брокером. Содержание страницы:
3.6.1 Выбранный брокер - элемент из списка брокеров (см 3.4.1)
3.6.2 Сообщение об успешном заключении договора (неудаче)
3.6.3 Реквизиты договора (сообщение о причинах неудачи и путях их устранения)
3.6.4 Кнопка, приглашающая перейти на страницу обзора рынка ЦБ

3.7 Страница обзора рынка ЦБ. Содержание страницы:
3.7.1 Фильтр ЦБ
3.7.1.1 Выбор инструмента. Содержание:
3.7.1.1.1 Все
3.7.1.1.2 Ценные бумаги
3.7.1.1.3 Валюта
3.7.1.1.4 Инструменты срочного рынка
3.7.1.1.5 Подробная выборка по критериям. Содержание:
3.7.1.1.5.1 Критерий 1
3.7.1.1.5.1.1 Котировальный лист А1, А2
3.7.1.1.5.1.2 Котировальный лист Б
3.7.1.1.5.1.3 Внесписочные ЦБ
3.7.1.1.5.2 Критерий 2 (тип)
3.7.1.1.5.2.1 ГКОД
3.7.1.1.5.2.2 КОНБ
3.7.1.1.5.2.2 ГДОД
3.7.1.1.5.2.3 ГДОП
3.7.1.1.5.2.4 КГмпО
3.7.1.1.5.2.5 ВГДО
3.7.1.1.5.2.6 ВОНБ
3.7.1.1.5.2.7 ГКОП
3.7.1.1.5.2.8 ИОНБ
3.7.1.1.5.2.9 SHS простые акции
3.7.1.1.5.2.10 SHS привилегированные акции
3.7.1.1.5.2.11 BON облигации корпоративные
3.7.1.1.5.2.12 BON облигации муниципальные
3.7.1.1.5.2.13 BON облигации дисконтные биржевые
3.7.1.1.5.2.14 BON облигации процентные биржевые
3.7.1.1.5.2.15 MORTGAGE бездокументарные закладные
3.7.1.1.5.2.16 Простое складское свидетельство
3.7.1.1.5.2.17 ВГКО
3.7.1.1.5.2.18 Вексель
3.7.1.1.6 Вид ЦБ
3.7.1.1.6.1 Облигация
3.7.1.1.6.2 Вексель
3.7.1.1.6.3 Акция
3.7.1.1.6.4 Иные ЦБ
3.7.1.1.7 Вид дохода по ЦБ
3.7.1.1.7.1 Постоянный процентный доход
3.7.1.1.7.2 Переменный процентный доход (купонный доход)
3.7.1.1.7.3 Дисконтный
3.7.1.1.7.4 Бездоходные
3.7.1.1.8 Срок обращения ЦБ
3.7.1.1.8.1 В обращении
3.7.1.1.8.2 Вышли из обращения
3.7.1.1.8.3 Были в обращении за период
3.7.1.1.8.3.1 с даты
3.7.1.1.8.3.2 по дату
3.7.1.1.9 Валюта номинала ЦБ
3.7.1.1.9.1 BYR
3.7.1.1.9.2 USD
3.7.1.1.9.3 EUR
3.7.1.1.9.4 RUR
3.7.1.1.10 Тип владельца ЦБ
3.7.1.1.10.0 Любое
3.7.1.1.10.1 Физическое лицо
3.7.1.1.10.2 Юридическое лицо
3.7.1.3 Список ЦБ (после фильтра). Содержание отдельного элемента:
3.7.1.3.1 Эмитент
3.7.1.3.2 Тикер (расширяется при наведении). Содержание:
3.7.1.3.2.1 Тип ценной бумаги
3.7.1.3.2.2 Дата регистрации
3.7.1.3.2.3 Номер регистрации
3.7.1.3.2.3 Код выпуска
3.7.1.3.2.4 Номер выпуска (для акций)
3.7.1.3.2.5 Серия выпуска (для акций)
3.7.1.3.2.6 Уровень допуска БВФБ (для облигаций)
3.7.1.3.3 Номинальная стоимость
3.7.1.3.4 Текущая стоимость (можно отправить в таблицу для отображения динамики)
3.7.1.3.5 Валюта номинала
3.7.1.3.6 Количество в выпуске
3.7.1.3.7 Размер постоянного процентного дохода (для облигаций), ставки текущего купона (для облигаций)
3.7.1.3.8 Объем выпуска в валюте номинала
3.7.1.3.9 Суммарный объем сделок по данному выпуску (можно отправить в таблицу для отображения дневной динамики)
3.7.1.3.10 Привелигированные? (для акций)
3.7.1.3.11 Сроки (для облигаций)
3.7.1.3.11.1 Срок обращения (для облигаций)
3.7.1.3.11.2 Срок обращения текущего купона (для облигаций)
3.7.1.3.11.3 Дата погашения выпуска (для облигаций)
3.7.1.3.11.4 Дата погашения текущего купона (для облигаций)
3.7.1.4 Кнопка "подробнее"
3.7.2 Секция информации об эмитентах
3.7.2.1 Фильтр эмитентов
3.7.2.1.1 По объему сделок за: (можно отправить в таблицу для отображения динамики)
3.7.2.1.1.1 Неделю
3.7.2.1.1.2 Месяц
3.7.2.1.1.3 Год
3.7.2.1.2 По уставному фонду (можно отправить в таблицу для отображения динамики)
3.7.2.1.3 По организационно-правовой форме
3.7.2.1.3.1 ОАО
3.7.2.1.3.2 ЗАО
3.7.2.1.3.3 Другая
3.7.2.1.3.4 Республиканский орган госуправления
3.7.2.1.3.5 Местный орган управления
3.7.2.1.4 По иному критерию...?
3.7.2.2 Список эмитентов после фильтра. Содержание отдельного элемента:
3.7.2.2.1 Количество выпусков акций данного эмитента (можно отправить в таблицу для отображения динамики)
3.7.2.2.2 Объём выпусков акций данного эмитента (можно отправить в таблицу для отображения динамики)
3.7.2.2.3 Стоимостной суммарный объем акций данного эмитента (можно отправить в таблицу для отображения динамики)
3.7.2.2.4 Количество выпусков облигаций данного эмитента (можно отправить в таблицу для отображения динамики)
3.7.2.2.5 Объем выпусков облигаций данного эмитента (можно отправить в таблицу для отображения динамики)
3.7.2.2.6 Стоимостной суммарный объекм облигаций данного эмитента (можно отправить в таблицу для отображения динамики)
3.7.2.2.7 Дневной объем сделок по ЦБ данного эмитента (можно отправить в таблицу для отображения динамики)
3.7.3 Табличная секция
3.7.3.1 Список таблиц. Содержание отдельной таблицы:
3.7.3.1.1 Массив столбцов, из которых можно выбрать ключевые для отправки на график
3.7.3.1.2 Массив строк
3.7.3.1.3 Указатель на график, в который отправляются столбцы данной таблицы
3.7.3.1.4 Кнопка отправки выбранных столбцов выбранной таблицы на график (см 3.7.4)
3.7.3.1.5 При нажатии на элемент таблицы, открывается новое окно с описанием ценной бумаги
3.7.4 Графическая секция
3.7.4.1 Список графиков. Содержание отдельного графика:
3.7.4.1.1 Легенда
3.7.4.1.1.1 Скрыть серию значений
3.7.4.1.1.2 Показать серию значений
3.7.4.1.1.3 Удалить серию значений
3.7.4.1.2 Тело графика
3.7.4.1.3 Указатель из какой таблицы график получил данные
3.7.4.1.4 Возможность сохранить график в личный кабинет

3.8 Страница отображения подробной информации о выпуске (см 3.7.1.4)
3.8.1 Выбранный выпуск ЦБ - элемент из списка (см 3.7.1.3)
3.8.2 График динамики параметров выбранного выпуска (см 3.7.4)
3.8.3 Форма приобретения
3.8.3.1 Желаемое количество
3.8.3.2 Желаемая цена
3.8.3.3 Название брокера, обслуживающего пользователя
3.9.3.4 Расходы, связанные с договором комиссии брокера
3.9.3.5 Итоговая стоимость
3.8.4 Кнопка перехода на страницу оплаты

3.9 Страница личного кабинета пользователя
3.9.1 Баланс счета в банке пользователя
3.9.2 История транзакций по счету в банке пользователя
3.9.2.1 Дата
3.9.2.2 Сумма
3.9.2.3 Счет получателя
3.9.2.4 Описание
3.9.3 История транзакций по счету "депо" в депозитарии пользователя
3.9.3.1 Дата
3.9.3.2 Название
3.9.3.3 Тикер
3.9.3.4 Цена за штуку
3.9.3.5 Количество
3.9.3.6 Общая сумма
3.9.3.7 Описание
3.9.4 Мой портфель. Список активов пользователя
3.9.5 Динамика портфеля на графике

4 Способы, формат и частота ввода и вывода данных
4.1 Внутренняя БД
4.1.1 Способ ввода - парсинг как минимум двух веб-сайтов: основного и запасного
4.1.2 Формат ввода в БД: численные значения - double c с точностью не менее 2 знаков после запятой
4.1.3 Частота парсинга внешних ресурсов и наполнения внутренней БД: 5 минут в период с 6:00 до 21:00, 30 минут в остальное время
4.1.4 Представление пользователю: 2 знака после запятой для иностранных валют, 0 знаков для белорусского рубля

4.2 Отчёты пользователя
4.2.1 Формат: web-страница (личный кабинет), PDF-по электронной почте
4.2.2 Частота генерации устанавливается пользователем: день/неделя/месяц
4.2.3 Содержание отчета
4.2.3.1 Совершенные операции
4.2.3.1.1 Тип операции (покупка/продажа)
4.2.3.1.2 Тип ценной бумаги
4.2.3.1.3 Эмитент ЦБ
4.2.3.1.4 Стоимость единицы
4.2.3.1.5 Количество
4.2.3.1.6 Стоимостной объем операции
4.2.3.1.7 Дата и время операции
4.2.3.1.8 Обслуживающий брокер
4.2.3.1.9 Обслуживающий депозитарий
4.2.3.2 Выданные заявки
4.2.3.2.1 Тип заявки (покупку/продажу)
4.2.3.2.2 Тип ценной бумаги
4.2.3.2.3 Эмитент ЦБ
4.2.3.2.4 Стоимость единицы
4.2.3.2.5 Количество
4.2.3.2.6 Стоимостной объем
4.2.3.2.7 Дата и время заявки
4.2.3.2.8 Срок действия заявки
4.2.3.2.9 Обслуживающий брокер
4.2.3.2.10 Обслуживающий депозитарий

5 Новостная база
5.1 Отображение новостной базы на графиках
5.1.1 В любом графике пользователь может нажать правой кнопкой в теле графике, должно появляться выпадающее меню, показывающее заголовки новостей за выбранную дату
5.1.2 Таким образом можно сопоставлять новости с динамикой на графиках
5.1.3 Первое меню показывает основные новостные сайты (TUT.BY, BELTA?)
5.1.4 При наведении на выбранное меню выскакивает вложенное меню, в котором отображаются заголовки новостей
5.1.5 При нажатии на заголовок, ссылка на сайт, содержащий новость, открывается в новом окне
5.1.6 Рядом с новостью есть чекбокс, позволяющий закрепить её на графике
5.1.7 Закрепленные новости запоминаются
5.1.8 При нажатии на закреплённую новость её можно удалить
5.2 Сохранение новостей во внутреннюю БД
5.2.1 Новости парсятся со сторонних сайтов и сохраняются в БД
5.2.2 Сохраняемые поля: заголовок, timestamp, ссылка

6 Моделирование протекающих процессов

6.1 Процесс покупки ЦБ
6.1.1 Пользователь перечисляет брокеру средства на покупку. Типичная транзакция проходит следующим образом:
6.1.1.1 Пользователь направляет поручение своему банку на перечисление средств со своего счета в банк брокера на счёт брокера с пометкой "для исполнения договора комиссии № ???".
6.1.1.2 Банк-источник проверяет наличие средств на счете пользователя
6.1.1.3 Банк-источник даёт запрос банку-получателю о существовании счёта и готовности принять сумму
6.1.1.4 Банк-источник получает ответ от банка-получателя о готовности принять перевод
6.1.1.5 Банк-источник даёт комманду национальному банку (НБРБ) кредитовать по счету банка-источника и дебетовать по счету банка-получателя
6.1.1.6 Нацбанк информирует банк-получатель, что по его счету состоялся дебет
6.1.1.7 Банк-получатель дебетует по счёту брокера-получателя
6.1.1.8 Банк-получатель информирует брокера о дебету средств на его счет
6.1.1.9 Банк-получатель информирует банк-источник об успешном проведении операции
6.1.1.10 Банк-источник информирует пользователя об успешном проведении операции
6.1.2 Пользователь заключает с брокером договор комиссии
6.1.2.1 Брокер проверяет дебетование на свой счет для исполнения договора комиссии №???
6.1.2.2 Пользователь информирует брокера о реквизитах счета "депо" на который нужно перевести дебет ЦБ
6.1.2.3 Брокер даёт запрос в депозитарий пользователя о готовности дебетовать ЦБ на указанный счёт
6.1.2.4 Депозитарий даёт положительный ответ
6.1.3 Брокер ищет в списке заявок биржи заявки других брокеров, желающих продать то что пользователь хочет купить
6.1.4 Брокер-покупатель посылает предложение о покупке брокеру-продавцу
6.1.4.1 Брокер-продавец сверяет условия
6.1.4.2 В удовлетворительном случае брокер-продавец объявляет готовность осуществить сделку
6.1.4.3 Брокер-покупатель даёт брокеру-продавцу реквизиты счёта "депо", на который нужно осуществить дебет ЦБ
6.1.4.4 Брокер-продавец даёт запрос в депозитарий-источник о наличии на счете-источнике необходимого количества ЦБ и готовности к передаче
6.1.4.5 Депозитарий-источник проверяет наличие ЦБ на определённом счете и информирует брокера-продавца о готовности осуществить перевод
6.1.4.6 Брокер-продавец даёт поручение депозитарию-источнику на перевод ЦБ на реквизиты счёта в депозитарии-получателе. Перевод между депозитариями проходит следующим образом:
6.1.4.6.1 Депозитарий-источник даёт поручение центральному депозитарию (ЦД) списать некие ЦБ со счета депозитария-источника и передать их на счёт депозитария-приёмника
6.1.4.6.2 ЦД осуществляет дебет по счету-источнику и кредит по счету-получателю
6.1.4.6.3 ЦД информирует получателя о кредете по его счёту
6.1.4.6.4 Депозитарий-источник информирует депозитарий-приемник о количестве ЦБ и целевом счете на который поступят ЦБ
6.1.4.6.5 Депозитарий-приемник проверяет свой счёт в ЦД на предмет поступления указанного количества ЦБ
6.1.4.6.6 В случае положительного ответа депозитарий-приемник кредетует по указанным реквизитам счета "депо"
6.1.4.6.7 Депозитарий-приемник информирует депозитария-источника об успешном переводе
6.1.4.6.8 Депозитарий-источник информирует брокера-продавца об успешной операции
6.1.4.7 Брокер-продавец информирует брокера-получателя об исполнении обязательств
6.1.4.8 Брокер-покупатель даёт команду своему банку осуществить перевод на реквизиты брокера-продавца (см 6.1.1)
6.1.4.9 Брокер-продавец информирует брокера-покупателя о получении средств
6.1.4.10 Брокер-продавец информирует своего клиента о продаже
6.1.4.11 Брокер-покупатель информирует пользователя об успешной операции

6.2 Процесс продажи ЦБ
6.2.1 Пользователь предоставляет брокеру реквизиты счета, на который необходимо зачислить деньги от продажи ЦБ
6.2.2 Пользователь информирует своего брокера о том, что и на каких условиях он хочет продать
6.2.3 Пользователь заключает с брокером договор комиссии (см 6.1.2)