1. Определение проблемы и путей её решения

1.1 Проблема:
1.1.1 Отсутствие доступной для простого человека, удобной для анализа информации о состоянии рынка ценных бумаг(Ц.Б.) РБ в целом и параметров отдельных выпусков Ц.Б. в частности.
1.1.2 Сложность процесса регистрации счёта «депо», заключения договора с профучастником торгов, выдачи поручений на покупку или продажу. Следовательно, низкий спрос со стороны населения на ценные бумаги белорусских эмитентов.
1.1.3 Низкая ликвидность рынка ценных бумаг РБ, как следствие низкого спроса со стороны населения.

1.2 Решение:
1.2.1 Создание веб-сервиса, предоставляющего возможность анализировать данные по рынку, эмитентам и параметрам ценных бумаг в виде графиков и таблиц.
1.2.2 Автоматизировать и максимально облегчить для пользователя процесс покупки ценных бумаг, а именно:
1.2.2.1 Заключение договора с депозитариями на открытие счета «депо»
1.2.2.2 Регистрация поручений на выполнение операций по счету «депо»
1.2.2.3 Заключение договора комиссии на покупку или продажу ценных бумаг с профучастниками торгов 
1.2.2.4 Публикация предложений о покупке/продаже ценных бумаг в случае необходимости
1.2.2.5 Перечисление денежных средств депозитарию на покупку ценных бумаг, возврат средств депоненту в случае необходимости, передача депоненту доходов по ценным бумагам
1.2.2.6 Получение отчетов об исполнении договоров комиссии
1.2.3 Повышение ликвидности рынка ценных бумаг РБ как следствие повышения спроса со стороны населения.


2 Описание взаимодействия пользователя с сервисом:

2.1 Заключение договора с депозитарием на открытие счёта депо
2.1.2 Выбор одного из существующих в РБ депозитариев
2.1.3 Демонстрация условий договора и регламента выбранного депозитария
2.1.4 Получение согласия пользователя на заключение договора на определенных условиях
2.1.5 Предоставление пользователем паспортных данных и заполнение анкеты если требуется
2.1.6 Формирование заявления на открытие счета депо
2.1.7 Передача заявления на открытие счета депо и плату за данную услугу депозитарию
2.1.8 Получение от депозитария подтверждения открытия счета «депо» 
2.1.9 Передача пользователю подтверждения от депозитария

2.2 Заключение договора на обслуживание с профучастником торгов (брокером)
2.2.1 Демонстрация списка брокеров
2.2.2 Демонстрация публичной оферты и тарифов выбранного брокера
2.2.3 Получение от пользователя акцепта публичной оферты
2.2.4 Предоставление пользователем личных данных и анкеты если требуется
2.2.5 Передача брокеру информации о желании пользователя акцептировать оферту
2.2.6 Передача брокеру оплаты за услугу
2.2.7 Получение от брокера подтверждения
2.2.8 Передача пользователю подтверждения брокера

2.3 Ознакомление пользователя с параметрами Ц.Б., находящихся в обороте на бирже.
2.3.1 Табличный способ представления с возможностью детальной сортировки по отдельным столбцам, удалению и добавлению отдельных столбцов
2.3.2 В виде графиков, на которых отображается динамика различных параметров ЦБ, пользователь может детально настраивать график, делать выборку по отдельным выпускам, по отдельным параметрам ЦБ.

2.4 Подача пользователем поручения брокеру на покупку или продажу определенного вида ЦБ
2.4.1 Выбор интересующей пользователя ЦБ
2.4.2 Определение максимальной цены покупки, которую пользователь готов заплатить и желаемое количество ЦБ, срока существования и других параметров заявки
2.4.3 Передача брокеру сведений о желании пользователя
2.4.4 Передача брокеру платы за услугу
2.4.5 Получение от брокера подтверждения приёма поручения
2.4.6 Передача пользователю подтверждения брокера

2.5 Информирование пользователя о появлении встречной заявки от другого пользователя, удовлетворяющей заданным критериям.
2.5.1 Информирование через личное сообщение в рамках сервиса
2.5.2 Информирование по e-mail
2.5.3 Информирование по SMS
2.5.4 Информирование телефонным звонком (?)

2.6 Совершение сделки в автоматическом режиме, если это требовалось
2.6.1 Мониторинг предложений на рынке
2.6.2 Сопоставление условий предложений
2.6.3 Связь брокера одного пользователя с брокером другого пользователя
2.6.4 Получения подтверждения сделки
2.6.5 Перечисление средств на покупку, либо выдача поручений депозитарию на передачу имущественных прав
2.6.6 Информирование пользователя об исполнении обязательств

2.7 Регистрация поручений на исполнение операций по счету «депо»
2.7.1 Передача требований депозитарию
2.7.2 Передача средств на оплату данной услуги
2.7.3 Получение от депозитария положительного ответа
2.7.4 Информирование пользователя о положительном результате операции

3 Типовые страницы, используемые для предоставления информации пользователю

3.1 Выбор одного из существующих депозитариев. Содержание страницы:
3.1.1 Список депозитариев. Содержание отдельного элемента списка:
3.1.1.1 Название депозитария
3.1.1.2 Список услуг депозитария. Содержание отдельного элемента списка:
3.1.1.2.1 Название услуги
3.1.1.2.2 Описание услуги
3.1.1.2.3 Стоимость услуги
3.1.1.3 Порядок действий для открытия счета "депо" в выбранном депозитарии
3.1.1.4 Кнопка выбора данного депозитария
3.1.2 Кнопка, приглашающая перейти на страницу заключения договора с депозитарием

3.2 Страница заключения договора с отдельным депозитарием. Содержание страницы:
3.2.1 Элемент из списка депозитариев (см 3.1.1)
3.2.2 Текст договора/регламента/таблица тарифов
3.2.3 Кнопка соглашения с условиями договора
3.2.4 Форма ввода паспортных данных пользователя. Содержание формы:
3.2.4.1 