<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <property name="hibernate.connection.url">
      jdbc:mysql://localhost:3306/marketplace
   </property>
   <property name="hibernate.connection.username">
      lrngsql
   </property>
   <property name="hibernate.connection.password">
      xyz
   </property>
   <mapping package="by.marketplace.DAO" />
   <mapping class="by.marketplace.DAO.GenericEntity"/>
   <mapping class="by.marketplace.DAO.EntityType"/>
   <mapping class="by.marketplace.DAO.User"/>
   <mapping class="by.marketplace.DAO.Passport"/>
</session-factory>
</hibernate-configuration>