<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <property name="hibernate.connection.url">
      jdbc:mysql://localhost:3306/marketplacetest?useSSL=false
   </property>
   <property name="hibernate.connection.username">
      root
   </property>
   <property name="hibernate.connection.password">
      rootpass
   </property>
   <mapping package="by.marketplace.DAO.entities" />
   <mapping class="by.marketplace.DAO.entities.AccountDAO"/>
   <mapping class="by.marketplace.DAO.entities.AccountDetailsDAO"/>
   <mapping class="by.marketplace.DAO.entities.AccountTypeDAO"/>
   <mapping class="by.marketplace.DAO.entities.AccountSecurityGroupDAO"/>
   <mapping class="by.marketplace.DAO.entities.AssetDAO"/>
   <mapping class="by.marketplace.DAO.entities.AssetTypeDAO"/>
   <mapping class="by.marketplace.DAO.entities.BondsIssueDAO"/>
   <mapping class="by.marketplace.DAO.entities.BrokerDAO"/>
   <mapping class="by.marketplace.DAO.entities.BrokerContractDAO"/>
   <mapping class="by.marketplace.DAO.entities.BrokerServiceDAO"/>
   <mapping class="by.marketplace.DAO.entities.BrokServicePlanDAO"/>
   <mapping class="by.marketplace.DAO.entities.CurrencyDAO"/>
   <mapping class="by.marketplace.DAO.entities.DepositoryDAO"/>
   <mapping class="by.marketplace.DAO.entities.DepContractDAO"/>
   <mapping class="by.marketplace.DAO.entities.DepServiceDAO"/>
   <mapping class="by.marketplace.DAO.entities.DepServicePlanDAO"/>
   <mapping class="by.marketplace.DAO.entities.GenericEntityDAO"/>
   <mapping class="by.marketplace.DAO.entities.EntityGroupDAO"/>
   <mapping class="by.marketplace.DAO.entities.EntityTypeDAO"/>
   <mapping class="by.marketplace.DAO.entities.IssuerDAO"/>
   <mapping class="by.marketplace.DAO.entities.MarketPriceDAO"/>
   <mapping class="by.marketplace.DAO.entities.OrderDAO"/>
   <mapping class="by.marketplace.DAO.entities.OrderTypeDAO"/>
   <mapping class="by.marketplace.DAO.entities.PassportDAO"/>
   <mapping class="by.marketplace.DAO.entities.PricingTypeDAO"/>
   <mapping class="by.marketplace.DAO.entities.SharesIssueDAO"/>
   <mapping class="by.marketplace.DAO.entities.SecurityPolicyDAO"/>
   <mapping class="by.marketplace.DAO.entities.TransactionDAO"/>
   <mapping class="by.marketplace.DAO.entities.UserDAO"/>
</session-factory>
</hibernate-configuration>