<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <property name="hibernate.connection.url">
      jdbc:mysql://localhost:3306/marketplacetest?useSSL=false
   </property>
   <property name="hibernate.connection.username">
      root
   </property>
   <property name="hibernate.connection.password">
      rootpass
   </property>
   <mapping package="by.marketplace.repository.vo" />
   <mapping class="by.marketplace.repository.vo.AccountVO"/>
   <mapping class="by.marketplace.repository.vo.AccountDetailsVO"/>
   <mapping class="by.marketplace.repository.vo.AccountTypeVO"/>
   <mapping class="by.marketplace.repository.vo.AccountSecurityGroupVO"/>
   <mapping class="by.marketplace.repository.vo.AssetVO"/>
   <mapping class="by.marketplace.repository.vo.AssetTypeVO"/>
   <mapping class="by.marketplace.repository.vo.BondsIssueVO"/>
   <mapping class="by.marketplace.repository.vo.BrokerVO"/>
   <mapping class="by.marketplace.repository.vo.BrokerContractVO"/>
   <mapping class="by.marketplace.repository.vo.BrokerServiceVO"/>
   <mapping class="by.marketplace.repository.vo.BrokServicePlanVO"/>
   <mapping class="by.marketplace.repository.vo.CurrencyVO"/>
   <mapping class="by.marketplace.repository.vo.DepositoryVO"/>
   <mapping class="by.marketplace.repository.vo.DepContractVO"/>
   <mapping class="by.marketplace.repository.vo.DepServiceVO"/>
   <mapping class="by.marketplace.repository.vo.DepServicePlanVO"/>
   <mapping class="by.marketplace.repository.vo.GenericEntityVO"/>
   <mapping class="by.marketplace.repository.vo.EntityGroupVO"/>
   <mapping class="by.marketplace.repository.vo.EntityTypeVO"/>
   <mapping class="by.marketplace.repository.vo.IssuerVO"/>
   <mapping class="by.marketplace.repository.vo.MarketPriceVO"/>
   <mapping class="by.marketplace.repository.vo.OrderVO"/>
   <mapping class="by.marketplace.repository.vo.OrderTypeVO"/>
   <mapping class="by.marketplace.repository.vo.PassportVO"/>
   <mapping class="by.marketplace.repository.vo.PricingTypeVO"/>
   <mapping class="by.marketplace.repository.vo.SharesIssueVO"/>
   <mapping class="by.marketplace.repository.vo.SecurityPolicyVO"/>
   <mapping class="by.marketplace.repository.vo.TransactionVO"/>
   <mapping class="by.marketplace.repository.vo.UserVO"/>
</session-factory>
</hibernate-configuration>